extends layout

block content
    .inner 
        br
        br
        form.form(action="/register", method="POST")
          h2 Register
          label(for="name") Name
          input(type="text" name="name" )
          label(for="email") Email Address
          input(type="email" name="email" )
          label(for="password") password
          input(type="password" name="password" )
          label(for="password-confirm") Confirm Password
          input(type="password" name="password-conform" )
          input.button(type="submit" value="Register →")

